h1, footer{
    text-align: center;
}

h1, h2 {
    background-color: #C4C4C4;
    font-family: 'Times New Roman';
    color: #005677;
    letter-spacing: .6rem;   
}

h2, p{
    font-size: 20px;
}

p{
    background-color: #005677;
    color: #FFFFFF;
}

h1{
    font-size: 35px;
}

ol {
    list-style-type: none;
}

#LogoBatman {
    display: block;
    margin: 0 auto;
}

section{
    margin-left: 460px;
    margin-right: 470px;
    }